<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Bood Infomation</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Book Name</label>

                <div class="col-sm-6">
                    <input type="text" [(ngModel)]="book.name" name="name" class="form-control" id="name"
                           placeholder="book name" autocomplete="off"
                           style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Book Tag</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-2" *ngFor="let tag of tags">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [checked]="hasTag(tag)" (change)="tagChange(tag)">{{tag}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="rating" class="col-sm-2 control-label">Book Rating</label>

                <div class="col-sm-6">
                    <app-stars [(rating)]="book.rating" [readonly]="false" id="rating" class="form-control"></app-stars>
                </div>
            </div>
            <div class="form-group">
                <label for="desc" class="col-sm-2 control-label">Book Description</label>

                <div class="col-sm-8">
                    <textarea class="form-control" rows="5" id="desc">{{book.desc}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="desc" class="col-sm-2 control-label">Book Link</label>

                <div class="col-sm-8">
                    <input type="text" name="link" [(ngModel)]="book.link" class="form-control"/>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-default" (click)="cancel()">取消</button>
            <button type="submit" class="btn btn-info pull-right" (click)="save()">保存</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>